data/old_data/
data/bags/*
!data/bags/workspace_analysis_08*
!data/bags/workspace_analysis_09*
!data/bags/workspace_analysis_13_01_2024_20_30*
!data/bags/workspace_analysis_30_01_2024*
!data/bags/workspace_analysis_29_01_2024_13_20*
!data/bags/workspace_analysis_31_01_2024*
!data/bags/workspace_analysis_02_02_2024*
!data/bags/workspace_analysis_03_02_2024*
!data/bags/workspace_analysis_04_02_2024*
!data/bags/workspace_analysis_05_02_2024*
!data/bags/workspace_analysis_06_02_2024*
!data/bags/workspace_analysis_09_02_2024*
!data/bags/workspace_analysis_12_02_2024*
!data/bags/workspace_analysis_13_02_2024*
!data/bags/workspace_analysis_14_02_2024*
!data/bags/workspace_analysis_15_02_2024*
!data/bags/bag_info.txt
models/*
!models/important_models/
logs/
build/
dist/
src/bimanual_handover.*
