<?xml version="1.0"?>
<launch>
        <include file="$(find bimanual_handover)/launch/full.launch" />
        <group ns="handover">
                <rosparam file="$(find bimanual_handover)/config/train.yaml" />
                <node name="trainer" pkg="bimanual_handover" type="train.py" output="screen" />
        </group>
</launch>
