<?xml version="1.0"?>
<launch>
        <arg name="check" default="True" />
        <arg name="checkpoint" default="False" />
                <!-- <arg name="model_type" value="None" /> -->
        <arg name="model_type" value="/models/checkpoints/ppo_checkpoint_06_10_2023_13_11_99500_steps" />
        <node name="trainer" pkg="bimanual_handover" type="train_ppo.py" output="screen" args="--check $(arg check) --checkpoint $(arg checkpoint)--model $(arg model_type)"/>
</launch>
